<h1>My Movies Collection</h1>
<ul>
  <% movies.each do |movie| %>
    <li>
      (<%= movie[:name] %>)
      (<%= movie[:country] %>)
      (<%= movie[:writer] %>)
      (<%= movie[:actor] %>)
      (<%= movie[:actress] %>)
      (<%= movie[:language] %>)
      (<%= movie[:quality] %>)

      <form action="/delete/<%= movie[:id] %>" method="post" class="delete">
        <input type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">Add new</a></p>
